.editor {
  width: 640px;
  background-color: var(--color-white);
}

form textarea {
  height: 300px;
  width: 250px;
}

button {
  background-color:forestgreen;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}